*{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        /* border: 1px solid yellow; */
}

h1, h2, h3, h4, h5, h6, label , a{
        font-family: "Raleway", sans-serif;
}

p , ul, textarea, button {
        font-family: "Open Sans", sans-serif;
        color: #848484;
}

i , span{
        cursor: pointer;
}

body::-webkit-scrollbar{
                                display: none;
}

html{
        scroll-behavior:smooth;
}

/*===================================MENU-BAR-text-color-change=========================================================================*/



/*===================================MENU-BAR=========================================================================*/

nav{
        display: flex;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.689);
        justify-content: space-between;
        position: sticky;
        height: 60px;
        top: 0px;
        z-index: 1;
}

nav h3{
                font-size: 30px;
                font-weight: 600;
                padding: 10px 0px 0px 40px;
}

nav i{
        font-size: 5px;
        color:  #ffc451;
}


.menu-bar{
        position: relative;
        display: flex;
}

.gp{
        display: flex;
        justify-content: space-evenly;
}

.menu-bar li a{
                color: white;
                text-decoration: none;
}

.menu-bar li a:hover{
                color: #ffc451;
                transition: all .3s ease-in-out;
}

.menu-bar li{
                padding: 20px 15px;
                list-style: none;
}

.drop-down-list{
        display: none;
        line-height: 20px;
        background-color: white;
        position: absolute;
        top: 50px;
        right: 50px;
}

.drop-down span{
                vertical-align: middle;
}

.drop-down-list li{
                padding: 10px 20px;
}
.drop-down-list li a{
                 color: #151515;
}

.drop-down-list li a:hover{
                        color: #151515;
}

.drop-down-list li:hover{
                background-color: #ffc451;
}

.drop-down:hover .drop-down-list{
                    display: block;
}

.deep-drop-down-list{
            line-height: 20px;
            background-color: white;
            transition: all 0.5s ease-in-out;
            position: absolute;
            top: 40px;
            right: 165px;
            width: 170px;
            opacity: 0;
}

.deep-drop-down:hover .deep-drop-down-list{
                                opacity: 1;
} 

.menu-button{   
        margin: 10px 20px 10px 0px;
        margin-left: 18rem;
        padding: 10px 30px;
        color: white;
        font-size: small;
        background-color: transparent;
        border : 2px solid #ffc451;
        border-radius : 5px ;
        transition: all 0.3s ease-in-out ;
}

.menu-button:hover{ 
             background-color:  #ffc451;
             color: #151515;
             border : 2px solid #ffc451;
}

#bar{
                display: none;
}
/*===================================starting-point=========================================================================*/


.top{
        background-image: linear-gradient(rgba(0, 0, 0, 0.647) , rgba(0, 0, 0, 0.696) ) , url("../img/hero-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        width: 100%;
        height: 800px;
        margin-top: -80px;
}

.top h1{
            padding-top: 180px;
            text-align: center;
            font-size: 60px;
            color:white;
            font-weight: bold;
            font-family: "Poppins", sans-serif;
}

.top h1 i{
        font-size: x-small;
        color:  #ffc451;
}

.top h2{
        text-align: center;
        font-size: 26px;
        margin: 10px 0 0 0;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.9);
        font-family: "Raleway", sans-serif;
}

.top-five-div{
                display: flex;
                flex-wrap: wrap;
                color: white;
                justify-content:center;
                margin-top: 70px;
}

.top-five-div div{
                border: 1px solid rgba(255, 255, 255, 0.3);
                margin: 0px 10px;
                width: 200px;
                padding: 35px 25px;
                text-align: center;
}

.top-five-div div:hover{
                        border: 1px solid #ffc451;
                        transition: all 0.3s ease-in-out;
}

.top-five-div div span{
                        font-size: 35px;
                        font-weight: 500;
                        padding-bottom: 15px;
                        color: #ffc451;
}

/*----------------------------animation-----------------*/

.top h1 , .top h2{
                        animation-name: top;
                        animation-duration: 1s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes top{
        from{
                transform: translateY(70px);
                opacity: 0;
        }

        to{
                transform: translateY();
                opacity: 1;
        }
}


.top-five-div div{
                        animation-name: top-five-div;
                        animation-duration: 1s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes top-five-div{
        from{
                transform: scale(0);
                opacity: 0;
        }

        to{
                transform: scale(1);
                opacity: 1;
        }
}

/*====================TOP-SECOND====================================================================*/

.top-second{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 50px;
                
}

.top-second-list h3{
                        font-weight: 700;
                        font-size: 30px;
                        font-family: "Poppins", sans-serif;
                        color: #444444;
}

.top-second-list p{
                padding: 15px 0px;
                font-style: italic;
} 

.top-second-list{
                padding-right: 20px;
}

.top-second-list ul li{
                        list-style: none;
                        padding-top: 10px;
}

.top-second-list ul li span{
                                font-size: large;
                                float: left;
                                padding-right: 5px;
                                color: #ffc451;
}

#li-3{
        padding-bottom: 30px;
}

.last-li{
                margin-top: 20px;
}

.top-second-image img{
                width: 670px;
                height: 480px;
}


/*----------------------------animation-----------------*/

.top-second-list{
                        animation-name: top-second-list;
                        animation-duration: 1s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes top-second-list{
        from{
                transform: translateX(-70px);
                opacity: 0;
        }

        to{
                transform: translateX();
                opacity: 1;
        }
}


.top-second-image{
                        animation-name: top-second-image;
                        animation-duration: 1s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes top-second-image{
        from{
                transform: translateX(70px);
                opacity: 0;
        }

        to{
                transform: translateX();
                opacity: 1;
        }
}

/*================================ICONS========================================================*/

.icons-1 ul{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 30px 0px;
}



.icons-1 ul li img{
            width: 100px;
            margin: 30px 0px 20px 0px;
            opacity: 0.5;
            filter:grayscale(100%);
}


.icons-1 ul li img:hover{        
                        filter: grayscale(0%);
                        transition: all .5s ease-in-out;
                        cursor: pointer;
                        opacity: 1;
}


/*----------------------------animation-----------------*/

.icons-1 ul li img{
                        animation-name: icons-1-ul-li-img;
                        animation-duration: 1s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes icons-1-ul-li-img{
        from{
                transform: scale(0);
                opacity: 0;
        }

        to{
                transform: scale(1);
                opacity: 1;
        }
}

/*================================KEYBOARD-IMAGE========================================================*/

.keyboard-image{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
}

.keyboard-image img{
                        width: 620px;
                        height: 420px;
}

.keyboard-image-div2{
                        padding-left: 35px;
                        width: 620px;
}

.keyboard-image-div2 h3{
                        font-size: 20px;
                        color: #444444;
                        font-family: "Raleway", sans-serif;
}

.keyboard-image-div2 p{
                 font-size: 15px;
                 color: #848484;
                 margin: 15px 0px 40px 0px;
}

.keyboard-image-div2 span{
                                font-size: 45px;
                                font-weight: 800;
                                float: left;
                                padding: 3px 5px 30px 0px;
                                color: #ffc451;
}

/*----------------------------animation-----------------*/

.keyboard-image-div1 img{
                        animation-name: keyboard-image-div1;
                        animation-duration: 1.3s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes keyboard-image-div1{
        from{
                transform: translateX(-80px);
                opacity: 0;
        }

        to{
                transform: translateX();
                opacity: 1;
        }
}


.keyboard-image-div2 h3{
                        animation-name: keyboard-image-div2-h3;
                        animation-duration: 1.3s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes keyboard-image-div2-h3{
        from{
                transform: scale(0);
                opacity: 0;
        }

        to{
                transform: scale(1);
                opacity: 1;
        }
}

.keyboard-image-div2 p{
                        animation-name: keyboard-image-div2-p;
                        animation-duration: 1.3s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes keyboard-image-div2-p{
        from{
                transform: translateX(110px);
                opacity: 0;
        }

        to{
                transform: translateX();
                opacity: 1;
        }
}
/*================================SERVICES========================================================*/

.service{
                padding: 100px 0px 0px 132px;
}

.service h3{
                color: #848484;
                letter-spacing: 2px;
                font-size: 14px;
                font-weight: 300;
                font-family: "Poppins", sans-serif;
}

.service h3 b{
                color: #ffc451;
}

.service h1{
        font-size: 30px;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
}

.ser{
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: auto auto auto;
                justify-content: center;
                margin-top: 50px;
                gap: 30px 30px;
}

.service-6{
                width: 400px;
                padding: 70px 0px 60px 0px;
                text-align: center;
                border: 1px solid rgb(208, 214, 219);
}

.service-6:hover{
                transform: translateY(-5px);
                transition: all .3s ease-in-out;
                box-shadow: 0px 0px 15px #c5c5c5a4;
}

.service-6 h3{
                font-size: 25px;
                font-family: "Raleway", sans-serif;
}

.service-6 h3:hover{
                color: #ffc451;
                transition: all .3s ease-in-out;
}

.service-6 p{
                font-size: 15px;
                padding: 15px 0px;
                line-height: 25px;
                color: #444444;
}

.service-6 i{
                border-radius: 4px;
                background-color: #ffc451;
                margin-bottom: 10px;
                font-size: 25px;
                padding: 20px;
}

.service-6 span{
                border-radius: 4px;
                background-color: #ffc451;
                margin-bottom: 10px;
                font-size: 25px;
                padding: 20px;
}

#line-icon{
                padding: 20px 23px;
}

/*----------------------------animation-----------------*/

.service h3 , .service h1 {
                        animation-name: service-h3-h1;
                        animation-duration: 1.5s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes service-h3-h1{
        from{
                transform: translateY(80px);
                opacity: 0;
        }

        to{
                transform: translateY();
                opacity: 1;
        }
}

.service-6{
                        animation-name: service-6;
                        animation-duration: 1.5s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes service-6{
        from{
                transform: scale(0);
                opacity: 0;
        }

        to{
                transform: scale(1);
                opacity: 1;
        }
}

/*======================ACTION===============================================*/

.action{        
        background-image: linear-gradient(rgba(0, 0, 0, 0.543) , rgba(0, 0, 0, 0.72) ) , url("../img/cta-bg.jpg");
        background-attachment: fixed;
        background-size: cover;
        text-align: center ;
        background-position: center;
        margin: 50px 0px 80px 0px;
        padding: 40px 0px 50px 0px ;
}


.action h1 {
        color: white ;
        padding: 30px 0px 20px 0px;
        font-family: "Raleway", sans-serif;
}

.action p{
        font-size: 17px ;
        color: white ;
        font-weight: 300;
        padding-bottom: 20px;
        line-height: 1.5;
        font-family: "Open Sans", sans-serif;
}

.action button{   
                padding: 8px 30px ;
                color: azure ;
                font-size: large ;
                font-weight: 600;
                border : 2px solid white ;
                border-radius : 5px ;
                background-color: transparent ;
                transition: all 0.3s ease-in-out ;
                font-family: "Raleway", sans-serif;
                cursor: pointer;
}

.action button:hover{ 
     background-color:  #ffc451 ;
     border : 2px solid #ffc451 ;
     color: #444444;
}

/*----------------------------animation-----------------*/

.action h1 , .action p , .action button{
                        animation-name: action-h1-p-button;
                        animation-duration: 1.5s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes action-h1-p-button{
        from{
                transform: scale(0);
                opacity: 0;
        }

        to{
                transform: scale(1);
                opacity: 1;
        }
}

/*================================PORTFOLIO========================================================*/

.port-top{
        padding: 10px 0px 0px 132px;
}

.port-top h3{
        color: #848484;
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: 300;
        font-family: "Poppins", sans-serif;
}

.port-top h3 b{
        color: #ffc451;
}

.port-top h1{
                font-size: 30px;
                font-weight: 700;
                font-family: "Poppins", sans-serif;
}

/*----------------------------animation-----------------*/

.port-top h3, .port-top h1 {
                        animation-name: port-top-h3-h1;
                        animation-duration: 1.5s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes port-top-h3-h1{
        from{
                transform: translateY(80px);
                opacity: 0;
        }

        to{
                transform: translateY();
                opacity: 1;
        }
}

/*==================port-text============================================================*/

.port-text{
                padding: 20px 0px;
}

.port-text ul{
        display: flex;
        list-style: none;
        justify-content: center;
        column-gap: 5px;
}

.port-text ul li{
                padding: 8px 15px 10px 15px;
                font-weight: 600;
                cursor: pointer;
}

.port-text-li{
        padding: 8px 15px 10px 15px;
        border-radius: 3px;
        background-color: #ffc451;
}

.port-text ul li:hover{
        padding: 8px 15px 10px 15px;
        border-radius: 3px;
        background-color: #ffc451;
        transition: all .4s ease-in-out;
}

.port-text a{
                font-size: 14px;
                color: #444444;
                text-decoration: none;
}

/*----------------------------animation-----------------*/

.port-text ul li{
                        animation-name: port-text-ul-li;
                        animation-duration: 1.5s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes port-text-ul-li{
        from{
                transform: translateY(80px);
                opacity: 0;
        }

        to{
                transform: translateY();
                opacity: 1;
        }
}

/*==================PORT-IMAGE============================================================*/

.port-image{
                display: grid;
                grid-template-columns: auto auto auto;
                justify-content: center;
}

.port-image-1{
        display: grid;
        grid-template-rows: auto auto ;
        padding-bottom: 135px;  
        row-gap: 23px;    
}


.port-image-2{
        display: grid;
        grid-template-rows: auto auto auto; 
        margin: 0px 23px; 
        overflow: hidden;
}

.port-image-3{
        display: grid;
        grid-template-rows: auto auto auto auto; 
        padding-bottom: 55px; 
        overflow: hidden;                        
}

.photo{
        overflow: hidden; 
        position: relative;
        width: fit-content;
        height: 96%;
}
.photo i{
        font-size: 1.2rem;
        color: white;
        padding-right: 5px;
}

.photo i:hover{
        color: #ffc451;
        transition: all .2s ease-in-out;
}

.photo img{
        width: 400px;
        transform: scale(1);
 }

.photo:hover img{
        transform: scale(1.1);
        transition: all .5s ease-in-out;
}

.hover-div{
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                padding: 300px 0px 0px 15px;
                opacity: 0;
}

.hover-div h2{
                font-size: 20px;
                color: #fff;
}

.hover-div p{
        line-height: 40px;
        font-size: 14px;
        color: #fff;
        font-style: italic;
}

.hover-div:hover{
                opacity: 1;
                transition: all .5s ease;
                background-color: rgba(9, 9, 9, 0.449);
}

.photo-5{
        height: 93%;
        margin: 18px 0px 22px 0px;
}

.p-6 , .p-5{
        padding-top: 490px; 
}

.photo-2 , .photo-9{
                height: 96%;
}

.p-2{
        padding-top: 165px;
}

.p-img{
        height: 90%;
}

.p-3{
        padding-top: 130px;
}

/* .hover-4{
        padding-top: 150px;
} */

/*============================NUMBER==================================================*/

.number{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 0px 60px 0px;
        gap: 45px;
}

.number-img img{
                 width: 540px;
                 height: 440px;
}

.number-1{
        padding-top: 30px;
}

.number-1 h1{
        font-family: "Raleway", sans-serif;
        color: #151515;
}

.number-1 p{
                line-height: 22px;
                padding: 10px 0px;
}
.number-2{
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                gap: 20px 10px;
}

.number-2 div{
                width: 350px;
}
.number-2 h1{
                font-size: 35px;
                color: #151515;
}

.number-2 p{
                font-size: 14px;
                font-weight: 500;
}

.number-2 p b{
                font-family: "Raleway", sans-serif;
                color: #3b3b3b;
}

.number-2 span{
                font-size: 40px;
                color: #ffc451; 
                float: left;
                padding: 5px 5px 60px 0px;               
}

.number-2 i{
                font-size: 40px;
                color: #ffc451; 
                float: left;
                padding: 5px 7px 50px 0px;   
}

/*----------------------------animation-----------------*/

.number-img img{
                        animation-name: number-img-img;
                        animation-duration: 1.5s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes number-img-img{
        from{
                transform: translateX(-100px);
                opacity: 0;
        }

        to{
                transform: translateX();
                opacity: 1;
        }
}


.number-1{
                        animation-name: number-1;
                        animation-duration: 1.5s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes number-1{
        from{
                transform: translateX(150px);
                opacity: 0;
        }

        to{
                transform: translateX();
                opacity: 1;
        }
}
/*======================testimonials==========================*/


.testimonials{
                        background-image: linear-gradient(rgba(0, 0, 0, 0.595) , rgba(0, 0, 0, 0.621) ) , url("../img/testimonials-bg.jpg") ;
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        background-size: cover ;
                        text-align: center ;  
                        padding: 100px 0px 120px 0px;              
}


.testimonials img{
                        border: 10px solid rgba(128, 128, 128, 0.526);
                        border-radius: 50%;
                        width: 80px;
}



.testimonials h3{
                        color: white;
}


.ceo{
                font-size: small;
                font-family: "Raleway", sans-serif;
                color: rgb(201, 201, 201);
}


.testimonials p{
                        padding-top: 15px;       
                        color: rgb(201, 201, 201);
                        font-size: 17px;
}

.testimonials i{
                vertical-align: super;
}

/*----------------------------animation-----------------*/

.testimonials h3 , .testimonials h4 , .testimonials p , .testimonials img{
                        animation-name: testimonials;
                        animation-duration: 1.5s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes testimonials{
        from{
                transform: scale(0);
                opacity: 0;
        }

        to{
                transform: scale(1);
                opacity: 1;
        }
}

/*================================TEAM========================================================*/

.team{
        padding: 60px 0px 20px 132px;
}

.team h3{
        color: #848484;
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: 300;
        font-family: "Poppins", sans-serif;
}

.team h3 b{
        color: #ffc451;
}

.team h1{
                font-size: 30px;
                font-weight: 700;
                font-family: "Poppins", sans-serif;
}


.team-image{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                column-gap: 20px;
                margin: 30px 0px 80px 0px;          
}

.team-image-1{
        position: relative;
        box-shadow: 0px 0px 15px #c5c5c5a4;    
        border-radius: 6px;   
}



.team-image-1 img{
                width: 300px;
                height: 300px;
                background-color: white;
                border-radius: 6px 6px 0px 0px;   
}

.team-image-1:hover>.icons{
                        display: block;
}

.icons{
        display: none;
        position: absolute;
        top: 250px;
        margin-left: 55px;
        text-align: center;
        animation: icons .6s 1 ease-in-out;
}

@keyframes icons{
        from{
                transform: translateY(-30px);
                opacity: 0;
        }

        to{
                transform: translateY();
                opacity: 1;
        }
}

.icons i{
                font-size: 19px;
                padding: 8px;
                margin-left: 10px;
                border-radius: 4px;
                background-color: rgba(255, 255, 255, 0.8);    
}

.icons i:hover{
                background-color: #ffc451;
                transition: all .3s ease-in-out;
}



.team-image-1 h4{
                font-size: 20px;
                color: #444444;
                padding: 20px 0px 0px 15px;
                font-family: "Poppins", sans-serif;
}

.team-image-1 p{
                font-size: 14px;
                padding: 10px 0px 25px 15px ;
}

/*----------------------------animation-----------------*/

.team h3, .team h1 {
                        animation-name: team-h3-h1;
                        animation-duration: 1.5s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes team-h3-h1{
        from{
                transform: translateY(80px);
                opacity: 0;
        }

        to{
                transform: translateY();
                opacity: 1;
        }
}

.img-1{
        animation-name: img-1;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
}

@keyframes img-1{
        from{
                transform: translateX(-90px);
                opacity: 0;
        }

        to{
                transform: translateX();
                opacity: 1;
        }
}

.img-2{
        animation-name: img-2;
        animation-duration: 1.7s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
}

@keyframes img-2{
        from{
                transform: scale(0);
                opacity: 0;
        }

        to{
                transform: scale(1);
                opacity: 1;
        }
}

.img-3{
        animation-name: img-3;
        animation-duration: 1.7s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
}

@keyframes img-3{
        from{
                transform: scale(0);
                opacity: 0;
        }

        to{
                transform: scale(1);
                opacity: 1;
        }
}

.img-4{
        animation-name: img-4;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
}

@keyframes img-4{
        from{
                transform: translateX(90px);
                opacity: 0;
        }

        to{
                transform: translateX();
                opacity: 1;
        }
}

/*================================CONTACT========================================================*/

.contact{
        padding: 40px 0px 0px 132px;
}

.contact h3{
        color: #848484;
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: 300;
        font-family: "Poppins", sans-serif;
}

.contact h3 b{
        color: #ffc451;
}

.contact h1{
                font-size: 30px;
                font-weight: 700;
                font-family: "Poppins", sans-serif;
}

.map {
                /* width: 1900px; */
                text-align: center;
                margin-top: 50px;
}


.cont{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 40px 0px 40px 0px;
        gap: 0px 50px
}

.address{
        width: 440px;
}

.address h4{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #151515;
}

.address p{
        margin: 10px 0px 25px 0px ;
        font-size: 14px;
        color: #484848;
}

.address span{
        float: left;
        border-radius: 4px;
        background-color: #ffc451;
        font-size: 25px;
        padding: 10px 11px;
        margin: 5px 10px 0px 0px;
}

.form{
        margin-left: 0px;
}

.input{
        width: 383px;
        padding: 15px 5px;
        margin: 10px 10px 20px 0px;
        border: 1px solid rgba(150, 145, 145, 0.459);
        font-size: 15px;
}

.subj{
        width: 780px;
        font-size: 15px;
        padding: 15px 5px;
        margin-bottom: 20px;
        border: 1px solid rgba(150, 145, 145, 0.459);
}

.form textarea{
        font-size: 15px;
        padding: 10px 5px;
        border: 1px solid rgba(150, 145, 145, 0.459);
}

.form button{   
        padding: 10px 30px ;
        margin-left: 300px;
        margin-top: 15px;
        color: #151515;
        font-size: medium ;
        background-color:  #ffc451;
        border : 2px solid #ffc451 ;
        border-radius : 5px ;
        transition: all 0.3s ease-in-out ;
        cursor: pointer;
}

.form button:hover{ 
             background-color:  #ffcf6f ;
             border : 2px solid #ffcf6f;
} 

/*----------------------------animation-----------------*/

.contact h3, .contact h1 {
                        animation-name: contact;
                        animation-duration: 1.5s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes contact{
        from{
                transform: translateY(80px);
                opacity: 0;
        }

        to{
                transform: translateY();
                opacity: 1;
        }
}

.map  {
                        animation-name: map;
                        animation-duration: 1.7s;
                        animation-iteration-count: 1;
                        animation-timing-function: ease-in-out;
}

@keyframes map{
        from{
                transform: scale(0);
                opacity: 0;
        }

        to{
                transform: scale(1);
                opacity: 1;
        }
}

.address{
                animation-name: address;
                animation-duration: 1.5s;
                animation-iteration-count: 1;
                animation-timing-function: ease-in-out;
}

@keyframes address{
        from{
                transform: translateX(-80px);
                opacity: 0;
        }

        to{
                transform: translateX();
                opacity: 1;
        }
}

.form{
                animation-name: form;
                animation-duration: 1.5s;
                animation-iteration-count: 1;
                animation-timing-function: ease-in-out;
}

@keyframes form{
        from{
                transform: translateX(60px);
                opacity: 0;
        }

        to{
                transform: translateX();
                opacity: 1;
        }
}
/*================================PHONE========================================================*/

.phone{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                background-color: #1b1b1b;
                box-sizing: border-box;
                color: #b7b7b7;
                padding: 40px 80px;
}

.phone span{
                color: #ffc451;
                vertical-align: middle;
                margin-top: -1px;
                font-size: 18px;
}

.phone1 h2 .fa-circle{
                font-size: 8px;
                color:  #ffc451;
                border-radius: 0%;
                padding: 0%;
}


.phone1 p{
        font-family: "Raleway", sans-serif;
        color: #fff;
        font-size: 14px;
        padding-bottom: 20px;
}
.phone1 h2{
                color: white; 
                font-size: x-large;  
                padding-bottom: 20px;
}

.phone1 i{
        padding: 10px 11px; 
        color: #151515;
        margin-right: 5px;
        font-size: 16px;
        background-color: #848484; 
        border-radius: 5px;
}

.phone1 i:hover{
        background-color:  #ffc451;
        transition: all 0.3s ease-in-out;
}

#fa-twitter{
        margin-left: -2px;
}

.phone2 ul li{
                list-style-type: none;
                text-align: left;
                color: white;
                margin-top: 15px;
                font-size: 15px;
}

.phone2 ul li:hover{
                        color: #ffc451;
                        transition: all 0.3s ease-in-out;
}

.phone2 h3 , .phone3 h3{
                color: white;
                font-size: 16px;
}

.phone3 p{
                font-size: 14px;
                line-height: 22px;
                padding-top: 25px;
                color: white;
}

.phone3{
        width: 450px;
}

.phone3 input{
        width: 395px;
        margin: 10px 0px;
        padding: 12px 5px;
        border-radius : 4px ; 
        border: 1px solid #ffc451;    
}

.phone3  button{   
        padding: 8px 20px 11px ;
        margin-top: 1px;
        margin-left: -119px;
        color: #151515;
        font-size: medium;
        background-color:  #ffc451;
        border : 2px solid #ffc451;
        border-radius : 0px 4px 4px 0px;
        transition: all 0.3s ease-in-out ;
        cursor: pointer;
}

.phone3 button:hover{ 
             background-color:  #ffcf6f;
             border : 2px solid #ffcf6f ;
} 

/*----------------------------animation-----------------*/

.P-1{
        animation-name: P-1 ;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
}

@keyframes P-1{
        from{
                transform: translateX(-80px);
                opacity: 0;
        }

        to{
                transform: translateX();
                opacity: 1;
        }
}

.P-2{
        animation-name: P-2;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
}

@keyframes P-2{
        from{
                transform: translateY(-80px);
                opacity: 0;
        }

        to{
                transform: translateY();
                opacity: 1;
        }
}

.P-3{
        animation-name: P-3 ;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
}

@keyframes P-3{
        from{
                transform: translateY(80px);
                opacity: 0;
        }

        to{
                transform: translateY();
                opacity: 1;
        }
}

.P-4{
        animation-name: P-4;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
}

@keyframes P-4{
        from{
                transform: translateX(80px);
                opacity: 0;
        }

        to{
                transform: translateX();
                opacity: 1;
        }
}

/*=====================================ABOUT========================================*/

.end{
        text-align: center;
        background-color: black;
        padding: 40px 0px;
        color: #fff;
}

.copy{         
                font-size: 15px;
                color: #fff;
                line-height: 2;
}

.boot{
                font-size: small;
                color: #fff;
}

.boot strong{
                font-weight: 100;
                color: #ffc451;
}

.arrow{
        position: fixed;
        right: 15px;
        bottom: 15px;
        z-index: 996;
        background-color: #ffc451;
        border: #ffc451;
        border-radius: 4px;
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
}

.up a span{
                padding: 9px;
                font-size: 22px;
                color: #151515;
                font-weight: bold;
}

.arrow:hover, .up span:hover{
                        color: #ffc451;
                        border-radius: 4px;
                        font-weight: bold;
                        background-color: #151515;
                        transition: all 0.4s ease-in-out;
}

/*----------------------------animation-----------------*/

.copy{
        animation-name: copy ;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
}

@keyframes copy{
        from{
                transform: translateX(-400px);
                opacity: 0;
        }

        to{
                transform: translateX();
                opacity: 1;
        }
}

.boot{
        animation-name: boot;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
}

@keyframes boot{
        from{
                transform: translateX(400px);
                opacity: 0;
        }

        to{
                transform: translateX();
                opacity: 1;
        }
}

.arrow{
        animation-name: arrow;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
}

@keyframes arrow{
        from{
                transform: translateY(80px);
                opacity: 0;
        }

        to{
                transform: translateY();
                opacity: 1;
        }
}